/* --- body */

.js-fade-load,
.js-fade-load2,
.js-fade-content {
  visibility: hidden;
}

.Body {
  position: relative;
  font-family: 'Akkurat', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: #3e0f66;
  padding: 0 0 3rem;
}
@media screen and (min-width: 960px) {
  .Body {
    padding: 18rem 0 9rem;
  }
}

.Body--cs {
  color: #222;
  background: #fff;
  text-align: center;
  padding-bottom: 0;
}
@media screen and (min-width: 960px) {
  .Body--cs {
    text-align: left;
    padding: 14rem 0 0;
  }
}
.Body--cs .Nav-link::after {
  background: #CDAEFF;
}

/* --- nav */

.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.75rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 410px) {
  .Nav {
    padding: 2.25rem 3rem
  }
}
@media screen and (min-width: 680px) {
  .Nav {
    padding: 3rem 3.5rem
  }
}
@media screen and (min-width: 960px) {
  .Nav {
    position: fixed;
    z-index: 99;
    top: 0;
  }
}

.Nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 65%;
  max-width: 16rem;
}
@media screen and (min-width: 410px) {
  .Nav-menu {
    width: auto;
    max-width: 100%;
  }
}

.Nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: auto;
}

.Nav-logo {
  max-width: 1.7rem;
  line-height: 1;
  margin-right: .8rem;
  cursor: pointer;
}
.Nav-logo img {
  display: block;
  transition: transform .3s;
}
.Nav-logo div {
  transition: transform .3s;
}
.Nav-logo:hover img {
  transform: scale(1.05) translate(0,-.3rem);
  -webkit-transform: scale(1.05) translate(0,-.3rem);
  -ms-transform: scale(1.05) translate(0,-.3rem);
}
.Nav-logo:hover div {
  transform: scale(.8);
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
}
@media screen and (min-width: 410px) {
  .Nav-logo {
    max-width: 2.2rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-logo {
    max-width: 2.5rem;
    margin-right: 1.25rem;
  }
}

.Nav-logo-shadow {
  width: 92%;
  padding-top: 15%;
  margin-top: .4rem;
  border-radius: 50%;
  background: #6A32AE;
}
.Nav-logo-shadow--cs {
  background: #CDAEFF;
}
@media screen and (min-width: 410px) {
  .Nav-logo-shadow {
    padding-top: 16%;
    margin-top: .5rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-logo-shadow {
    padding-top: 18%;
    margin-top: .6rem;
  }
}

.Nav-link {
  position: relative;
  margin: 0;
  margin-bottom: .4rem;
  font-size: 1.4rem;
  line-height: 1;
  transition: opacity .4s, transform .4s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .25rem;
  margin-left: 1rem;
}
.Nav-link:hover {
  opacity: 1;
  color: #3a075d;
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
}
.Nav-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #fff;
  transition: transform .4s, opacity .4s;
  z-index: -1;
  opacity: 0;
}
.Nav-link:hover::after {
  transform: scale(1.3, 2.1);
  -webkit-transform: scale(1.3, 2.1);
  -ms-transform: scale(1.3, 2.1);
  opacity: 1;
}
.Nav-link--unselected {
  opacity: .5;
}
@media screen and (min-width: 410px) {
  .Nav-link {
    margin-left: 2.25rem;
    font-size: 1.6rem
  }
}
@media screen and (min-width: 680px) {
  .Nav-link {
    margin-left: 3rem;
    font-size: 1.8rem
  }
}

.Nav-socialLink {
  max-width: 2.3rem;
  margin-left: 1rem;
  opacity: .75;
  transition: opacity .4s;
}
.Nav-socialLink:hover {
  opacity: 1
}
@media screen and (min-width: 410px) {
  .Nav-socialLink {
    max-width: 3rem;
    margin-left: 1.2rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-socialLink {
    margin-left: 1.8rem;
  }
}

/* --- Works */

.Works-preview {
  width: 100%;
  margin-bottom: 6rem;
}
@media screen and (min-width: 680px) {
  .Works-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Works-preview {
    margin-bottom: 19%;
  }
  .Works-preview--reverse  {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.Works-description {
  display: block;
  width: 100%;
  margin-bottom: 1.75rem
}
@media screen and (min-width: 680px) {
  .Works-description {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: auto;
    max-width: 100%;
    margin-left: 14%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 960px) {
  .Works-description {
    margin-left: 7%;
  }

  .Works-description--reverse {
    margin-left: 0;
    text-align: right;
  }
}

.Works-title {
  margin: 1rem 0 0.2rem;
  text-shadow: 0 0 2rem rgba(15,2,36,0.5);
  font-size: 3rem;
  line-height: 1.05;
  letter-spacing: -1px
}
@media screen and (min-width: 680px) {
  .Works-title {
    margin-bottom: 0.5rem;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 960px) {
  .Works-title {
    margin-bottom: 1rem;
    font-size: 4.8rem;
  }
}

.Works-subtitle {
  margin: 0;
  font-size: 2.1rem;
  font-weight: normal;
  opacity: .75;
}
@media screen and (min-width: 680px) {
  .Works-subtitle {
    font-size: 2.3rem
  }
}
@media screen and (min-width: 960px) {
  .Works-subtitle {
    font-size: 2.6rem
  }
}

.Works-frame {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 15rem;
}
.Works-frame:hover::before {
  opacity: .3333;
}
.Works-frame:hover > .Works-label {
  opacity: 1;
}
.Works-frame::before {
  display: block;
  content: '';
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  margin: auto;
  background-color: #3a075d;
  opacity: 0;
  z-index: 3;
  transition: opacity .25s;
}
.Works-frame::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -15.5%;
  left: -16%;
  width: 132%;
  height: 100%;
  background: url('../img/shadow-wide.png') bottom center no-repeat;
  background-size: contain;
  z-index: -1;
}
@media screen and (min-width: 410px) {
  .Works-frame {
    height: 19rem;
  }
}
@media screen and (min-width: 680px) {
  .Works-frame {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 43%;
    max-width: 43%;
    margin: 0;
  }
  .Works-frame::after {
    bottom: -12.5%;
  }
}
@media screen and (min-width: 960px) {
  .Works-frame {
    width: 57.14%;
    max-width:  57.14%;
    height: 32rem;
  }
  .Works-frame--tall {
    width: 42.85%;
    max-width: 42.85%;
    margin-left: 14.29%;
    height: 43rem;
  }
  .Works-frame--tall::after {
    bottom: -7%;
  }
}

.Works-img {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-repeat: no-repeat;
  transition: transform .3s;
}
.Works-img--az {
  background-position: center;
  background-size: 80% auto;
  height: 90%;
}
.Works-img--tl {
  background-position: top center;
  background-size: 75% auto;
  height: 94%;
}
.Works-img--plume {
  background-position: top center;
  background-size: 94% auto;
  background-position: 2rem 0;
  height: 95%
}
.Works-img--routific {
  background-position: center;
  background-size: cover;
  height: 100%
}
.Works-img--ck {
  top: 0;
  background-position: bottom;
  background-size: 80% auto;
  height: 100%;
}
@media screen and (min-width: 680px) {
  .Works-img--az {
    background-size: 100% auto;
  }
  .Works-img--tl {
    background-size: 80% auto;
  }
  .Works-img--plume {
    background-size: 120% auto;
  }
  .Works-img--ck {
    background-size: 100% auto;
  }
}
@media screen and (min-width: 960px) {
  .Works-img--az {
    background-size: 95% auto;
  }
  .Works-img--tl {
    background-size: 77% auto;
    background-position: center;
    height: 100%;
  }
  .Works-img--plume {
    background-size: 92% auto;
    background-position: 4rem 2rem;
    height: 100%
  }
  .Works-img--routific {
    height: 94%
  }
  .Works-img--ck {
    background-size: 95% auto;
  }
}

.Works-label {
  position: absolute;
  left: -16.7rem;
  top: 45%;
  width: 30rem;
  margin: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  color: #CDAEFF;
  opacity: 0.5;
  font-weight: bold;
  transition: opacity .25s;
}
@media screen and (min-width: 960px) {
  .Works-label {
    top: 48%;
    left: -17.6rem;
  }
  .Works-label--reverse {
    left:  auto;
    right: -17.6rem;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }
}

/* --- Info */

.Info-header {
  font-size: 3.8rem;
  line-height: 1.3;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .Info-header {
    margin-top: 3rem;
    font-size: 7rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-header {
    font-size: 9.2rem;
  }
}

.Info-headerSub {
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 7.5rem;
  text-align: center;
  color: #9a5dff;
}
@media screen and (min-width: 680px) {
  .Info-headerSub {
    font-size: 3.5rem;
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-headerSub {
    font-size: 4.5rem;
    margin-bottom: 15rem;
  }
}

.Info-icon {
  color: #9a5dff;
}

.Info-bolt {
  display: inline-block;
  background: url('../img/icon-bolt.svg') no-repeat top center;
  background-size: contain;
  width: 4%;
  padding-top: 7%;
  margin-bottom: 4.2%;
}
@media screen and (min-width: 410px) {
  .Info-bolt {
    width: 4%;
    padding-top: 5%;
    margin-bottom: 3.2%;
  }
}
@media screen and (min-width: 960px) {
  .Info-bolt {
    width: 3.8%;
    padding-top: 4.6%;
    margin-bottom: 3%;
  }
}

.Info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15% 12%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.Info-section--vancouver {
  background: url('../img/img-info-1.jpg') no-repeat;
  background-size: cover;
}
.Info-section--sfu {
  background: url('../img/img-info-2.jpg') no-repeat;
  background-size: cover;
}
.Info-section--az {
  background: url('../img/img-info-3.jpg') no-repeat;
  background-size: cover;
}
@media screen and (min-width: 680px) {
  .Info-section {
    margin-bottom: 4.5rem;
  }
}

.Info-badge {
  max-width: 9rem;
  margin: 0 auto 2rem;
}
@media screen and (min-width: 680px) {
  .Info-badge {
    max-width: 14rem;
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-badge {
    margin: 0;
  }
}

.Info-text {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .Info-text {
    width: 66%;
    text-align: left;
    margin-left: 6rem;
  }
}

.Info-title {
  font-size: 2.6rem;
  line-height: 1.2;
  margin: .6rem 0;
}
@media screen and (min-width: 680px) {
  .Info-title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-title {
    font-size: 6rem;
  }
}

.Info-subtitle {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
  color: #9a5dff;
}
@media screen and (min-width: 680px) {
  .Info-subtitle {
    font-size: 3rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-subtitle {
    font-size: 3.5rem;
  }
}

/* --- header */

.Header-title {
  color: #111;
  font-size: 3.8rem;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: -.1rem
}
@media screen and (min-width: 680px) {
  .Header-title {
    font-size: 5.6rem;
  }
  .Header-title--sm {
    font-size: 4.7rem;
  }
}

.Header-frame {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: #999;
  z-index: 3;
}
@media screen and (min-width: 960px) {
  .Header-frame {
    border-radius: 0;
    box-shadow: none;
  }
}

/* --- content */

.Content-title {
  font-size: 2.6rem;
  line-height: 1.4;
  color: #111;
}
@media screen and (min-width: 680px) {
  .Content-title {
    font-size: 3.5rem;
  }
}

.Content-body {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #404040;
}
.Content-body:first-of-type {
  margin-top: .5rem;
}
@media screen and (min-width: 680px) {
  .Content-body {
    font-size: 1.7rem;
    line-height: 1.6;
  }
}
@media screen and (min-width: 960px) {
  .Content-body {
    font-size: 1.9rem;
  }
}

.Content-label {
  font-size: 1rem;
  letter-spacing: .4rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 410px) {
  .Content-label {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 960px) {
  .Content-label {
    font-size: 1.5rem;
    letter-spacing: .5rem;
  }
}

/* --- role */

.Role {
  position: relative;
}

.Role::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}

.Role-wrapper {
  position: relative;
  padding: 4.5rem 1.75rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #f7f7f7;
  z-index: 2;
}
@media screen and (min-width: 680px) {
  .Role-wrapper {
    padding: 6rem 3rem 4.5rem;
    width: 71%;
  }
}
@media screen and (min-width: 960px) {
  .Role::after {
    left: -50%;
  }
  .Role-wrapper {
    width: 100%;
    padding: 7.5% 5.5% 7.5% 0;
  }
}

.Role-col {
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .Role-col {
    margin: 0;
  }
  .Role-col--title {
    width: 45%;
  }
  .Role-col--list {
    width: 55%;
  }
}

.Role-title {
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.Role-list {
  display: block;
}

.Role-list li {
  margin-bottom: 1rem
}

/* --- role */

.Video {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 58%;
}
@media screen and (min-width: 960px) {
  .Video  {
    padding-top: 57%;
  }
}

.Video-src {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* --- pagination */

.Pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: bold;
  padding: 4.5rem 0;
  margin-bottom: 0;
}

.Pagination-up img {
  display: block;
  max-width: 5.5rem;
  margin: 0 auto;;
  transition: transform .3s, opacity .3s;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  opacity: .5;
}
.Pagination-up span {
  padding: 1.5rem 1rem;
  margin-left: .2rem;
  display: block;
  transition: transform .3s;
}
.Pagination-up:hover img {
  transform: rotate(-90deg) translate(.5rem, 0) scale(1.1);
  -webkit-transform: rotate(-90deg) translate(.5rem, 0) scale(1.1);
  -ms-transform: rotate(-90deg) translate(.5rem, 0) scale(1.1);
  opacity: 1;
}
.Pagination-up:hover span {
  transform: scale(.85);
  -webkit-transform: scale(.85);
  -ms-transform: scale(.85);
}

.Pagination-nav {
  position: relative;
  transition: transform .3s;
}
.Pagination-nav span{
  display: block;
  padding: 1.5rem 0;
}
.Pagination-nav:hover {
  opacity: 1;
  transform: scale(.85);
  -webkit-transform: scale(.85);
  -ms-transform: scale(.85);
}
.Pagination-nav::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%
  margin: auto;
  background: #CDAEFF;
  transition: transform .3s, opacity .3s;
  z-index: -1;
  opacity: 0;
  transform: scale(1, .5);
  -webkit-transform: scale(1, .5);
  -ms-transform: scale(1, .5);
  pointer-events: none;
}
.Pagination-nav:hover::after {
  transform: scale(1.5, 1);
  -webkit-transform: scale(1.5, 1);
  -ms-transform: scale(1.5, 1);
  opacity: 1;
}

/* --- utilities */

.u-dark-color {
  color: #252525;
}
.u-dark-bgcolor {
  background-color: #252525;
}

.u-grey-color {
  color: #484848;
}

.u-light-grey-color {
  color: #d8d8d8;
}

.u-brand-color {
  color: #3a075d;
}

.u-light-brand-color {
  color: #CDAEFF;
}

.u-az-color {
  color: #e94381;
}
.u-az-bgcolor {
  background-color: #e94381;
}

.u-tl-color {
  color: #269ed5;
}
.u-tl-bgcolor {
  background-color: #269ed5;
}

.u-plume-color {
  color: #9988f0;
}
.u-plume-bgcolor {
  background-color: #9988f0;
}

.u-routific-color {
  color: #0fa47c;
}
.u-routific-bgcolor {
  background-color: #0b9785;
}

.u-ck-color {
  color: #ffa5f2;
}
.u-ck-bgcolor {
  background-color: #ffa5f2;
}

.u-space-bottom-clear {
  margin-bottom: 0;
  padding-bottom: 0;
}

.u-space-top {
  margin-top: 4.5rem;
}
@media screen and (min-width: 960px) {
  .u-space-top {
    margin-top: 7.5rem;
  }
}

.u-space-bottom {
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 960px) {
  .u-space-bottom {
    margin-bottom: 7.5rem;
  }
}

.u-shade {
  box-shadow: 0 1rem 6rem #e5e5e5;
  background-color: #eee;
}
