/* --- section */

.Section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 6rem;
  align-items: center;
}
@media screen and (min-width: 410px) {
  .Section {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 680px) {
  .Section {
    margin-bottom: 9rem;
  }
}
@media screen and (min-width: 960px) {
  .Section {
    margin-bottom: 15rem;
  }
  .Section--reverse {
    flex-direction: row-reverse;
  }
  .Section--pad-top {
    padding-top: 9rem;
  }
}

/* --- column */

.Col {
  position: relative;
  width: 100%;
  margin: 0 auto 3rem;
  line-height: 0;
}
.Col--full {
  padding: 4.5rem 0;
  margin-bottom: 0;
}
@media screen and (min-width: 680px) {
  .Col {
    margin-bottom: 6rem;
    width: 71%;
  }
  .Col--full {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 960px) {
  .Col {
    width: 50%;
    margin-bottom: 0;
  }
  .Col--full {
    padding: 9rem 0;
    width: 100%;
  }
  .Col--center {
    width: 62%;
    margin: 0 auto;
    text-align: center;
  }
  .Col--left {
    padding-right: 7%;
  }
  .Col--right{
    padding-left: 7%;
  }
}

/* --- full wrapper */

.FullWrapper {
  width: 100%;
  background-color: #f7f7f7;
}

@media screen and (min-width: 960px) {
  .LeftWrapper {
    width: 87.5%;
    padding-left: 12.8%;
    background-color: #f7f7f7;
  }
}

/* --- container */

.Container {
  max-width: 24rem;
  margin: 0 auto;
}
@media screen and (min-width: 410px) {
  .Container {
    max-width: 32rem;
  }
}
@media screen and (min-width: 680px) {
  .Container {
    max-width: 58.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Container {
    max-width: 81rem;
  }
}

/* --- pattern */

.Pattern {
  position: fixed;
  z-index: -99;
  height: 100%;
  width: 41.5rem;
  top: 0;
  left: 50%;
  margin-left: -20.75rem;
  opacity: .03;
}
@media screen and (min-width: 410px) {
  .Pattern {
    width: 76rem;
    margin-left: -38rem;
  }
}
@media screen and (min-width: 680px) {
  .Pattern {
    width: 100rem;
    margin-left: -50rem;
    opacity: .05;
  }
}
@media screen and (min-width: 960px) {
  .Pattern {
    width: 138.5rem;
    margin-left: -69.25rem;
  }
}

.Pattern-flex {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.Pattern-line {
  width: 1px;
  height: 100%;
  background-color: #fff;
}
.Pattern-line--light {
  background-color: #555;
}
