/* --- body */

.Body {
  position: relative;
  font-family: 'Akkurat', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: #3a075d;
  padding: 0 0 3rem;
}
@media screen and (min-width: 960px) {
  .Body {
    padding: 18rem 0 9rem;
  }
}

.Body--cs {
  color: #222;
  background: #fff;
  text-align: center;
  padding-bottom: 0;
}
@media screen and (min-width: 960px) {
  .Body--cs {
    text-align: left;
    padding: 14rem 0 0;
  }
}
.Body--cs .Nav-link::after {
  background: #CDAEFF;
}

/* --- nav */

.Nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 410px) {
  .Nav {
    padding: 2.25rem 3rem
  }
}
@media screen and (min-width: 680px) {
  .Nav {
    padding: 3rem 3.5rem
  }
}
@media screen and (min-width: 960px) {
  .Nav {
    position: fixed;
    z-index: 99;
    top: 0;
  }
}

.Nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  max-width: 16rem;
}
@media screen and (min-width: 410px) {
  .Nav-menu {
    width: auto;
    max-width: 100%;
  }
}

.Nav-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.Nav-logo {
  max-width: 1.7rem;
  line-height: 1;
  margin-right: .8rem;
  cursor: pointer;
}
.Nav-logo img {
  display: block;
  transition: transform .3s;
}
.Nav-logo div {
  transition: transform .3s;
}
.Nav-logo:hover img {
  transform: scale(1.05) translate(0,-.3rem);
}
.Nav-logo:hover div {
  transform: scale(.8);
}
@media screen and (min-width: 410px) {
  .Nav-logo {
    max-width: 2.2rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-logo {
    max-width: 2.5rem;
    margin-right: 1.25rem;
  }
}

.Nav-logo-shadow {
  width: 92%;
  padding-top: 15%;
  margin-top: .4rem;
  border-radius: 50%;
  background: #6A32AE;
}
.Nav-logo-shadow--cs {
  background: #CDAEFF;
}
@media screen and (min-width: 410px) {
  .Nav-logo-shadow {
    padding-top: 16%;
    margin-top: .5rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-logo-shadow {
    padding-top: 18%;
    margin-top: .6rem;
  }
}

.Nav-link {
  position: relative;
  margin: 0;
  margin-bottom: .4rem;
  font-size: 1.4rem;
  line-height: 1;
  transition: opacity .4s, transform .4s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .25rem;
  margin-left: 1rem;
}
.Nav-link:hover {
  opacity: 1;
  color: #3a075d;
  transform: scale(.9);
}
.Nav-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #fff;
  transition: transform .4s, opacity .4s;
  z-index: -1;
  opacity: 0;
}
.Nav-link:hover::after {
  transform: scale(1.3, 2.1);
  opacity: 1;
}
.Nav-link--unselected {
  opacity: .5;
}
@media screen and (min-width: 410px) {
  .Nav-link {
    margin-left: 2.25rem;
    font-size: 1.6rem
  }
}
@media screen and (min-width: 680px) {
  .Nav-link {
    margin-left: 3rem;
    font-size: 1.8rem
  }
}

.Nav-socialLink {
  max-width: 2.4rem;
  margin-left: 1.25rem;
  opacity: .75;
  transition: opacity .4s;
}
.Nav-socialLink:hover {
  opacity: 1
}
@media screen and (min-width: 410px) {
  .Nav-socialLink {
    max-width: 3rem;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-socialLink {
    margin-left: 2.5rem;
  }
}

/* --- Works */

.Works-preview {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-bottom: 6rem;
}
@media screen and (min-width: 680px) {
  .Works-preview {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Works-preview {
    align-items: flex-start;
    margin-bottom: 19%;
  }
  .Works-preview--az, .Works-preview--plume, .Works-preview--ht  {
    flex-direction: row;
  }
}

.Works-description {
  display: block;
  width: 100%;
  margin-bottom: 1.75rem
}
@media screen and (min-width: 680px) {
  .Works-description {
    width: 57%;
    padding-left: 14%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 960px) {
  .Works-description {
    position: absolute;
    z-index: 3;
    width: auto;
    max-width: 100%;
    cursor: pointer;
    padding-left: 0;
    pointer-events: none;
    top: 32%;
    left: 0;
  }
  .Works-description--tl {
    top: 52%;
    left: 28.5%;
  }
  .Works-description--plume {
    left: 28.5%;
    top: 44%;
  }
  .Works-description--routific {
    top: 52%;
    left: 71%;
  }
  .Works-description--ht {
    top: 36%
  }
}

.Works-title {
  margin: 0;
  text-shadow: 0 0 4.5rem rgba(15,2,36,.55);
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -1px
}
@media screen and (min-width: 680px) {
  .Works-title {
    font-size: 4rem;
    padding: 0;
  }
}
@media screen and (min-width: 960px) {
  .Works-title {
    font-size: 6.5rem;
  }
  .Works-title-sm {
    font-size: 5.2rem;
    padding: 0;
  }
}

.Works-subtitle {
  margin: 0;
  opacity: .75;
  text-shadow: 0 0 3.5rem rgba(15,2,36,.55);
  font-size: 2.1rem;
  font-weight: normal;
}
@media screen and (min-width: 680px) {
  .Works-subtitle {
    font-size: 2.6rem
  }
}
@media screen and (min-width: 960px) {
  .Works-subtitle {
    margin: 0;
    opacity: 1;
    font-size: 3.2rem
  }
}

.Works-frame {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 73%;
  cursor: pointer;
}
.Works-frame::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -12.5%;
  left: -16%;
  width: 132%;
  height: 100%;
  background: url('../img/shadow-wide.png') bottom center no-repeat;
  background-size: contain;
  z-index: -1;
}
@media screen and (min-width: 680px) {
  .Works-frame {
    width: 43%;
    max-width: 43%;
    margin: 0;
    padding-top: 43%;
  }
  .Works-frame::after {
    bottom: -9.5%;
  }
}
@media screen and (min-width: 960px) {
  .Works-frame--az, .Works-frame--plume, .Works-frame--ht {
    width: 57.12%;
    max-width: 57.12%;
    padding-top: 40%;
    margin-left: 14.2%;
  }
  .Works-frame--plume {
    margin-left: 0;
  }
  .Works-frame--ht {
    padding-top: 38%;
  }
  .Works-frame--tl, .Works-frame--routific {
    width: 42.85%;
    max-width: 42.85%;
    padding-top: 52%;
    margin-right: 14.5%;
  }
  .Works-frame::after {
    bottom: -7.4%;
  }
  .Works-frame--az::after, .Works-frame--plume::after, .Works-frame--ht::after {
    bottom: -12.5%;
  }
}

.Works-img {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  transition: transform .4s;
}
.Works-img--az {
  background: url('../img/home-az.png') no-repeat center;
  background-size: 96% auto;
  height: 90%;
}
.Works-img--tl {
  background: url('../img/home-tl.png') no-repeat top center;
  background-size: 75% auto;
  height: 94%;
}
.Works-img--plume {
  background: url('../img/home-plume.png') no-repeat top center;
  background-size: 94% auto;
  background-position: 2rem 0;
  height: 95%
}
.Works-img--routific {
  background: url('../img/home-routific.png') no-repeat top center;
  background-size: cover;
  height: 96%
}
.Works-img--ht {
  top: 0;
  background: url('../img/home-ht.png') no-repeat center;
  background-size: 80% auto;
  height: 100%;
}
@media screen and (min-width: 680px) {
  .Works-img--az {
    background-size: 100% auto;
  }
  .Works-img--tl {
    background-size: 80% auto;
  }
  .Works-img--plume {
    background-size: 120% auto;
  }
}
@media screen and (min-width: 960px) {
  .Works-img:hover {
    transform: scale(.96);
  }
  .Works-img--az {
    background-size: 96% auto;
  }
  .Works-img--tl {
    background-size: 77% auto;
    background-position: center;
    height: 100%;
  }
  .Works-img--plume {
    background-size: 92% auto;
    background-position: 4rem 2rem;
    height: 100%
  }
  .Works-img--ht {
    background-size: 75% auto;
    margin-bottom: 1rem;
  }
}

.Works-label {
  position: absolute;
  left: -16.7rem;
  top: 45%;
  width: 30rem;
  margin: auto;
  opacity: .8;
  transform: rotate(-90deg);
}
@media screen and (min-width: 960px) {
  .Works-label {
    top: 48%;
    left: -17.6rem;
  }
  .Works-label--az, .Works-label--ht, .Works-label--tl {
    left:  auto;
    right: -17.6rem;
    transform: rotate(90deg);
  }
}

/* --- Info */

.Info-header {
  font-size: 3.8rem;
  line-height: 1.4;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .Info-header {
    margin-top: 3rem;
    font-size: 7rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-header {
    font-size: 9.2rem;
  }
}

.Info-headerSub {
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 7.5rem;
  text-align: center;
  color: #9a5dff;
}
@media screen and (min-width: 680px) {
  .Info-headerSub {
    font-size: 3.5rem;
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-headerSub {
    font-size: 4.5rem;
    margin-bottom: 15rem;
  }
}

.Info-icon {
  color: #9a5dff;
}

.Info-bolt {
  display: inline-block;
  background: url('../img/icon-bolt.svg') no-repeat top center;
  background-size: contain;
  width: 4%;
  padding-top: 7%;
  margin-bottom: 4.2%;
}
@media screen and (min-width: 410px) {
  .Info-bolt {
    width: 4%;
    padding-top: 5%;
    margin-bottom: 3.2%;
  }
}
@media screen and (min-width: 960px) {
  .Info-bolt {
    width: 3.8%;
    padding-top: 4.6%;
    margin-bottom: 3%;
  }
}

.Info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15% 12%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.Info-section--vancouver {
  background: url('../img/img-info-1.jpg') no-repeat;
  background-size: cover;
}
.Info-section--sfu {
  background: url('../img/img-info-2.png') no-repeat;
  background-size: cover;
}
.Info-section--az {
  background: url('../img/img-info-3.jpg') no-repeat;
  background-size: cover;
}
@media screen and (min-width: 680px) {
  .Info-section {
    margin-bottom: 4.5rem;
  }
}

.Info-badge {
  max-width: 9rem;
  margin: 0 auto 2rem;
}
@media screen and (min-width: 680px) {
  .Info-badge {
    max-width: 14rem;
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-badge {
    margin: 0;
  }
}

.Info-text {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .Info-text {
    width: 66%;
    text-align: left;
    margin-left: 6rem;
  }
}

.Info-title {
  font-size: 2.6rem;
  line-height: 1.2;
  margin: .6rem 0;
}
@media screen and (min-width: 680px) {
  .Info-title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-title {
    font-size: 6rem;
  }
}

.Info-subtitle {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
  color: #9a5dff;
}
@media screen and (min-width: 680px) {
  .Info-subtitle {
    font-size: 3rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-subtitle {
    font-size: 3.5rem;
  }
}

/* --- header */

.Header-title {
  color: #111;
  font-size: 3.8rem;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: -.1rem
}
@media screen and (min-width: 680px) {
  .Header-title {
    font-size: 5.6rem;
  }
  .Header-title--sm {
    font-size: 4.7rem;
  }
}

.Header-frame {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: #999;
  z-index: 3;
}
@media screen and (min-width: 960px) {
  .Header-frame {
    border-radius: 0;
    box-shadow: none;
  }
}

/* --- content */

.Content-title {
  font-size: 2.6rem;
  line-height: 1.4;
  color: #111;
}
@media screen and (min-width: 680px) {
  .Content-title {
    font-size: 3.5rem;
  }
}

.Content-body {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #404040;
}
.Content-body:first-of-type {
  margin-top: .5rem;
}
@media screen and (min-width: 680px) {
  .Content-body {
    font-size: 1.7rem;
    line-height: 1.6;
  }
}
@media screen and (min-width: 960px) {
  .Content-body {
    font-size: 1.9rem;
  }
}

.Content-label {
  font-size: 1rem;
  letter-spacing: .4rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 410px) {
  .Content-label {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 960px) {
  .Content-label {
    font-size: 1.45rem;
    letter-spacing: .5rem;
  }
}

/* --- role */

.Role {
  padding: 4.5rem 1.75rem;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.Role::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  z-index: -2;
  transform: scaleX(3);
}
@media screen and (min-width: 680px) {
  .Role {
    padding: 6rem 3rem 4.5rem;
    width: 71%;
  }
}
@media screen and (min-width: 960px) {
  .Role {
    width: 100%;
    padding: 7.5% 5.5% 7.5% 0;
  }
  .Role::after {
    left: -100%;
  }
}

.Role-col {
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .Role-col {
    margin: 0;
  }
  .Role-col--title {
    width: 45%;
  }
  .Role-col--list {
    width: 55%;
  }
}

.Role-title {
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.Role-list {
  display: block;
}

.Role-list li {
  margin-bottom: 1rem
}

/* --- role */

.Video {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 58%;
}
@media screen and (min-width: 960px) {
  .Video  {
    padding-top: 57%;
  }
}

.Video-src {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* --- pagination */

.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
  padding: 4.5rem 0;
  margin-bottom: 0;
}

.Pagination-up img {
  display: block;
  max-width: 5.5rem;
  margin: 0 auto;;
  transition: transform .3s, opacity .3s;
  transform: rotate(-90deg);
  opacity: .5;
}
.Pagination-up span {
  padding: 1.5rem 1rem;
  margin-left: .2rem;
  display: block;
  transition: transform .3s;
}
.Pagination-up:hover img {
  transform: rotate(-90deg) translate(.5rem, 0) scale(1.1);
  opacity: 1;
}
.Pagination-up:hover span {
  transform: scale(.85);
}

.Pagination-nav {
  position: relative;
  transition: transform .3s;
}
.Pagination-nav span{
  display: block;
  padding: 1.5rem 0;
}
.Pagination-nav:hover {
  opacity: 1;
  transform: scale(.85);
}
.Pagination-nav::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%
  margin: auto;
  background: #CDAEFF;
  transition: transform .3s, opacity .3s;
  z-index: -1;
  opacity: 0;
  transform: scale(1, .5);
  pointer-events: none;
}
.Pagination-nav:hover::after {
  transform: scale(1.5, 1);
  opacity: 1;
}

/* --- utilities */

.u-dark-color {
  color: #252525;
}
.u-dark-bgcolor {
  background-color: #252525;
}

.u-grey-color {
  color: #484848;
}

.u-light-grey-color {
  color: #d8d8d8;
}

.u-brand-color {
  color: #3a075d;
}

.u-light-brand-color {
  color: #CDAEFF;
}

.u-az-color {
  color: #d43772;
}
.u-az-bgcolor {
  background-color: #d43772;
}

.u-tl-color {
  color: #269ed5;
}
.u-tl-bgcolor {
  background-color: #269ed5;
}

.u-plume-color {
  color: #9988f0;
}
.u-plume-bgcolor {
  background-color: #9988f0;
}

.u-routific-color {
  color: #0b9785;
}
.u-routific-bgcolor {
  background-color: #0b9785;
}

.u-ht-color {
  color: #8334b0;
}
.u-ht-bgcolor {
  background-color: #8334b0;
}

.u-space-bottom-clear {
  margin-bottom: 0;
  padding-bottom: 0;
}

.u-space-top {
  margin-top: 4.5rem;
}
@media screen and (min-width: 960px) {
  .u-space-top {
    margin-top: 7.5rem;
  }
}

.u-space-bottom {
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 960px) {
  .u-space-bottom {
    margin-bottom: 7.5rem;
  }
}

.u-shade {
  box-shadow: 0 1rem 5.5rem #e0e0e0;
}

.u-shade2 {
  box-shadow: 0 1.6rem 5.5rem #d1d1d1;
}
