/* --- pattern */

.Pattern {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 41.5rem;
  top: 0;
  left: 50%;
  margin-left: -20.75rem;
  opacity: .05;
}
@media screen and (min-width: 410px) {
  .Pattern {
    width: 55rem;
    margin-left: -27.5rem;
  }
}
@media screen and (min-width: 680px) {
  .Pattern {
    width: 100rem;
    margin-left: -50rem;
  }
}
@media screen and (min-width: 960px) {
  .Pattern {
    width: 138.5rem;
    margin-left: -69.25rem;
  }
}
@media screen and (min-width: 1320px) {
  .Pattern {
    width: 163rem;
    margin-left: -81.5rem;
  }
}

.Pattern-flex {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.Pattern-line {
  width: 1px;
  height: 100%;
  background-color: #fff;
}

/* --- container */

.Container {
  max-width: 24rem;
  padding: 3rem 0;
  margin: 0 auto;
}
@media screen and (min-width: 410px) {
  .Container {
    max-width: 32rem;
  }
}
@media screen and (min-width: 680px) {
  .Container {
    max-width: 58.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Container {
    padding: 18rem 0 6rem;
    max-width: 81rem;
  }
}
@media screen and (min-width: 1320px) {
  .Container {
    padding: 18rem 0 6rem;
    max-width: 95rem;
  }
}

/* --- nav */

.Nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem;
}
@media screen and (min-width: 410px) {
  .Nav {
    padding: 2.25rem 3rem
  }
}
@media screen and (min-width: 680px) {
  .Nav {
    padding: 3rem 3.5rem
  }
}
@media screen and (min-width: 960px) {
  .Nav {
    position: fixed;
    z-index: 4;
    top: 0;
  }
}

.Nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  max-width: 16rem;
}
@media screen and (min-width: 410px) {
  .Nav-menu {
    width: auto;
    max-width: 100%;
  }
}

.Nav-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.Nav-logo {
  max-width: 2rem;
  line-height: 1;
  margin-right: .3rem;
}
@media screen and (min-width: 410px) {
  .Nav-logo {
    max-width: 2.2rem;
    margin-right: 1rem
  }
}
@media screen and (min-width: 680px) {
  .Nav-logo {
    max-width: 2.5rem;
    margin-right: 1.25rem
  }
}

.Nav-link {
  margin: 0;
  margin-bottom: .4rem;
  font-size: 1.8rem;
  line-height: 1;
  opacity: .5;
  transition: opacity .3s;
  letter-spacing: .1rem;
}
@media screen and (min-width: 410px) {
  .Nav-link {
    margin-left: 2.25rem;
    font-size: 2.4rem
  }
}
@media screen and (min-width: 680px) {
  .Nav-link {
    margin-left: 3rem;
    font-size: 2.4rem
  }
}
.Nav-link--selected, .Nav-link:hover {
  opacity: 1;
}

.Nav-socialLink {
  max-width: 2.4rem;
  margin-left: 1.25rem;
}
@media screen and (min-width: 410px) {
  .Nav-socialLink {
    max-width: 3rem;
    margin-left: 1.75rem;
  }
  .Nav-socialLink--email {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-socialLink {
    max-width: 3.33rem;
    margin-left: 2.5rem;
  }
  .Nav-socialLink--email {
    margin-left: 2.25rem;
  }
}

/* --- Works */

.Works-preview {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 410px) {
  .Works-preview {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 680px) {
  .Works-preview {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 960px) {
  .Works-preview {
    align-items: flex-start;
    margin-bottom: 20%;
  }
  .Works-preview--az, .Works-preview--plume, .Works-preview--ht  {
    flex-direction: row;
  }
}

.Works-description {
  display: block;
  width: 100%;
  margin-bottom: 2rem
}
@media screen and (min-width: 680px) {
  .Works-description {
    width: 57%;
    margin-bottom: 0;
    text-align: right;
  }
}
@media screen and (min-width: 960px) {
  .Works-description {
    position: absolute;
    z-index: 3;
    width: auto;
    max-width: 100%;
    cursor: pointer;
    padding-left: 0;
    top: 32%;
    left: 0;
  }
  .Works-description--tl {
    top: 56%;
    left: 43%;
  }
  .Works-description--plume {
    left: 28.5%;
    top: 48%;
  }
  .Works-description--routific {
    top: 46%;
    left: 71%;
  }
}

.Works-title {
  margin-bottom: .3rem;
  text-shadow: 0 0 4rem rgba(15,2,36,.5);
  font-size: 3.2rem;
}
@media screen and (min-width: 680px) {
  .Works-title {
    font-size: 4.1rem;
    padding: 0;
  }
}
@media screen and (min-width: 960px) {
  .Works-title {
    font-size: 5.9rem;
  }
}
@media screen and (min-width: 1320px) {
  .Works-title {
    font-size: 6.6rem;
  }
}

.Works-subtitle {
  margin: 0;
  opacity: .75;
  text-shadow: 0 0 3rem rgba(15,2,36,.5);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .08rem;
}
@media screen and (min-width: 680px) {
  .Works-subtitle {
    font-size: 2.2rem
  }
}
@media screen and (min-width: 960px) {
  .Works-subtitle {
    margin: 0;
    opacity: .95;
    font-size: 2.4rem
  }
}
@media screen and (min-width: 1320px) {
  .Works-subtitle {
    font-size: 2.8rem
  }
}

.Works-frame {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 73%;
  cursor: pointer;
  box-shadow: 0 0 8rem rgba(0,0,0,.5);
  transition: box-shadow 0.3s;
}
.Works-frame--az {
  background-color: #30c3a6;
  color: #30c3a6;
}
.Works-frame--tl {
  background-color: #319dcf;
  color: #319dcf;
}
.Works-frame--plume {
  background-color: #907fea;
  color: #907fea;
}
.Works-frame--routific {
  background-color: #0b9785;
  color: #0b9785;
}
.Works-frame--ht {
  background-color: #8334b0;
  color: #8334b0;
}
.Works-frame:hover {
  box-shadow: 0 0 10rem rgba(0,0,0,.9);
}
@media screen and (min-width: 680px) {
  .Works-frame {
    width: 43%;
    max-width: 43%;
    margin: 0;
    padding-top: 43%;
  }
}
@media screen and (min-width: 960px) {
  .Works-frame--az, .Works-frame--plume, .Works-frame--ht {
    width: 57.12%;
    max-width: 57.12%;
    padding-top: 40%;
    margin-left: 14.2%;
  }
  .Works-frame--plume {
    margin-left: 0;
  }
  .Works-frame--ht {
    padding-top: 38%;
  }
  .Works-frame--tl, .Works-frame--routific {
    width: 42.85%;
    max-width: 42.85%;
    padding-top: 52%;
    margin-right: 0;
  }
  .Works-frame--routific {
    margin-right: 14.5%;
  }
}

.Works-img {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.Works-img--az {
  background: url('../img/home-az.png') no-repeat center;
  background-size: 96% auto;
  height: 90%;
}
.Works-img--tl {
  background: url('../img/home-tl.png') no-repeat top center;
  background-size: 75% auto;
  height: 94%;
}
.Works-img--plume {
  background: url('../img/home-plume.png') no-repeat top center;
  background-size: 94% auto;
  background-position: 2rem 0;
  height: 95%
}
.Works-img--routific {
  background: url('../img/home-routific.png') no-repeat top center;
  background-size: cover;
  height: 96%
}
.Works-img--ht {
  top: 0;
  background: url('../img/home-ht.png') no-repeat center;
  background-size: 80% auto;
  height: 100%;
}
@media screen and (min-width: 680px) {
  .Works-img--az {
    background-size: 100% auto;
  }
  .Works-img--tl {
    background-size: 80% auto;
  }
  .Works-img--plume {
    background-size: 120% auto;
  }
}
@media screen and (min-width: 960px) {
  .Works-img--az {
    background-size: 98% auto;
  }
  .Works-img--tl {
    background-size: 95% auto;
    background-position: center;
    top: 1.5rem;
    height: 118%;
  }
  .Works-img--plume {
    background-size: 100% auto;
    height: 103%
  }
  .Works-img--routific {
    background-size: 108% auto;
    height: 102%;
  }
  .Works-img--ht {
    background-size: 85% auto;
    margin-bottom: 2.5rem;
  }
}

.Works-label {
  position: absolute;
  left: -5.8rem;
  top: 43%;
  margin: auto;
  font-size: 1.6rem;
  letter-spacing: .5rem;
  opacity: .66;
  transform: rotate(-90deg);
}
@media screen and (min-width: 960px) {
  .Works-label {
    top: 45%;
    font-size: 1.8rem;
    left: -6.5rem;
  }
  .Works-label--az, .Works-label--ht {
    left:  auto;
    right: -6.5rem;
    transform: rotate(90deg);
  }
  .Works-label--tl {
    top: 30%;
  }
}

/* --- Info */

.Info-header {
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 680px) {
  .Info-header {
    padding-top: 1rem;
    margin-bottom: 9rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-header {
    padding-top: 0;
    margin-bottom: 11rem;
  }
}

.Info-title {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: .5rem;
}
@media screen and (min-width: 680px) {
  .Info-title {
    font-size: 3.4rem;
    text-align: center;
    font-weight: bold;
  }
}
@media screen and (min-width: 960px) {
  .Info-title {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1320px) {
  .Info-title {
    font-size: 5rem;
  }
}

.Info-subtitle {
  font-size: 2rem;
  line-height: 1.3;
  color: #bd31d2;
  opacity: .66;
  font-weight: normal;
  letter-spacing: 0.07rem;
}
@media screen and (min-width: 680px) {
  .Info-subtitle {
    font-size: 2.4rem;
    text-align: center;
  }
}

.Info-section {
  margin-bottom: 5rem;
  position: relative;
}
@media screen and (min-width: 680px) {
  .Info-section {
    margin-bottom: 10rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-section {
    margin-bottom: 15rem;
  }
}

.Info-describe {
  width: 100%;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 4rem rgba(15,2,36,.6);
}
@media screen and (min-width: 680px) {
  .Info-describe {
    position: absolute;
    left: 0;
    text-align: left;
  }
  .Info-describe--van {
    top: 32%;
    left: 36.4%;
  }
  .Info-describe--sfu {
    top: 34%;
    left: 9%;
    max-width: 75%;
  }
  .Info-describe--az {
    top: 26%;
    left: 29%;
    max-width: 78%;
  }
}
@media screen and (min-width: 960px) {
  .Info-describe--van {
    left: 42%;
  }
  .Info-describe--sfu {
    left: 14%;
  }
}

.Info-group {
  width: 100%;
}
@media screen and (min-width: 680px) {
  .Info-group--van {
    width: 71.5%;
  }
  .Info-group--sfu {
    width: 54%;
    margin-left: 37%;
  }
  .Info-group--az {
    width: 45%;
  }
}
@media screen and (min-width: 960px) {
  .Info-group--sfu {
    width: 57%;
    margin-left: 42.7%;
  }
  .Info-group--az {
    width: 43%;
  }
}

.Info-pic {
  width: 100%;
  padding-top: 55%;
  margin-bottom: 1.5rem;
}
.Info-pic--van {
  background: url('../img/info-vancouver.png') top left;
  background-size: cover;
}
.Info-pic--sfu {
  background: url('../img/info-sfu.png') bottom center;
  background-size: cover;
}
.Info-pic--az {
  background: url('../img/info-az.png') top left;
  background-size: cover;
}
@media screen and (min-width: 680px) {
  .Info-pic {
    box-shadow: 0 0 11rem rgba(0,0,0,.3);
  }
  .Info-pic--van {
    padding-top: 64.5%;
  }
  .Info-pic--sfu {
    padding-top: 100%;
  }
  .Info-pic--az {
    padding-top: 130%;
  }
}

.Info-label {
  font-size: 2rem;
  line-height: 1.3;
  color: #bd31d2;
  opacity: .66;
  font-weight: normal;
  letter-spacing: 0.07rem;
}
@media screen and (min-width: 960px) {
  .Info-label {
    font-size: 2.2rem;
  }
}
