/* --- body */

.Body {
  position: relative;
  font-family: 'R', serif;
  font-size: 1.6rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: #3a075d;
}

.Body--light {
  color: #222;
  background: #fff;
}

/* --- nav */

.Nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem;
}
@media screen and (min-width: 410px) {
  .Nav {
    padding: 2.25rem 3rem
  }
}
@media screen and (min-width: 680px) {
  .Nav {
    padding: 3rem 3.5rem
  }
}
@media screen and (min-width: 960px) {
  .Nav {
    position: fixed;
    z-index: 99;
    top: 0;
  }
}

.Nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  max-width: 16rem;
}
@media screen and (min-width: 410px) {
  .Nav-menu {
    width: auto;
    max-width: 100%;
  }
}

.Nav-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.Nav-logo {
  max-width: 2rem;
  line-height: 1;
  margin-right: .3rem;
}
@media screen and (min-width: 410px) {
  .Nav-logo {
    max-width: 2.2rem;
    margin-right: 1rem
  }
}
@media screen and (min-width: 680px) {
  .Nav-logo {
    max-width: 2.5rem;
    margin-right: 1.25rem
  }
}

.Nav-link {
  margin: 0;
  margin-bottom: .4rem;
  font-size: 1.8rem;
  line-height: 1;
  transition: opacity .3s;
  letter-spacing: 1px;
}
@media screen and (min-width: 410px) {
  .Nav-link {
    margin-left: 2.25rem;
    font-size: 2.4rem
  }
}
@media screen and (min-width: 680px) {
  .Nav-link {
    margin-left: 3rem;
    font-size: 2.4rem
  }
}
.Nav-link--unselected {
  opacity: .5;
}

.Nav-socialLink {
  max-width: 2.4rem;
  margin-left: 1.25rem;
}
@media screen and (min-width: 410px) {
  .Nav-socialLink {
    max-width: 3rem;
    margin-left: 1.75rem;
  }
  .Nav-socialLink--email {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 680px) {
  .Nav-socialLink {
    max-width: 3.33rem;
    margin-left: 2.5rem;
  }
  .Nav-socialLink--email {
    margin-left: 2.25rem;
  }
}

/* --- Works */

.Works-preview {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-bottom: 6rem;
}
@media screen and (min-width: 680px) {
  .Works-preview {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Works-preview {
    align-items: flex-start;
    margin-bottom: 20%;
  }
  .Works-preview--az, .Works-preview--plume, .Works-preview--ht  {
    flex-direction: row;
  }
}

.Works-description {
  display: block;
  width: 100%;
  margin-bottom: 2.25rem
}
@media screen and (min-width: 680px) {
  .Works-description {
    width: 57%;
    padding-left: 14%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 960px) {
  .Works-description {
    position: absolute;
    z-index: 3;
    width: auto;
    max-width: 100%;
    cursor: pointer;
    padding-left: 0;
    top: 32%;
    left: 0;
  }
  .Works-description--tl {
    top: 54%;
    left: 43%;
  }
  .Works-description--plume {
    left: 28.5%;
    top: 48%;
  }
  .Works-description--routific {
    top: 54%;
    left: 71%;
  }
  .Works-description--ht {
    top: 36%
  }
}

.Works-title {
  margin-bottom: .2rem;
  text-shadow: 0 0 4rem rgba(15,2,36,.5);
  font-size: 3.2rem;
}
@media screen and (min-width: 680px) {
  .Works-title {
    font-size: 3.8rem;
    padding: 0;
  }
}
@media screen and (min-width: 960px) {
  .Works-title {
    font-size: 6.4rem;
  }
  .Works-title-sm {
    font-size: 5.2rem;
    padding: 0;
  }
}
@media screen and (min-width: 1320px) {
  .Works-title {
    font-size: 7.7rem;
  }
  .Works-title-sm {
    font-size: 6.4rem;
    padding: 0;
  }
}

.Works-subtitle {
  margin: 0;
  opacity: .75;
  text-shadow: 0 0 3rem rgba(15,2,36,.5);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .08rem;
}
@media screen and (min-width: 680px) {
  .Works-subtitle {
    font-size: 2.2rem
  }
}
@media screen and (min-width: 960px) {
  .Works-subtitle {
    margin: 0;
    opacity: .95;
    font-size: 2.6rem
  }
}
@media screen and (min-width: 1320px) {
  .Works-subtitle {
    font-size: 3rem
  }
}

.Works-frame {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 73%;
  cursor: pointer;
}
.Works-frame::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -12.5%;
  left: -16%;
  width: 132%;
  height: 100%;
  background: url('../img/shadow-wide.png') bottom center no-repeat;
  background-size: contain;
  z-index: -1;
}
@media screen and (min-width: 680px) {
  .Works-frame {
    width: 43%;
    max-width: 43%;
    margin: 0;
    padding-top: 43%;
  }
  .Works-frame::after {
    bottom: -9.5%;
  }
}
@media screen and (min-width: 960px) {
  .Works-frame--az, .Works-frame--plume, .Works-frame--ht {
    width: 57.12%;
    max-width: 57.12%;
    padding-top: 40%;
    margin-left: 14.2%;
  }
  .Works-frame--plume {
    margin-left: 0;
  }
  .Works-frame--ht {
    padding-top: 38%;
  }
  .Works-frame--tl, .Works-frame--routific {
    width: 42.85%;
    max-width: 42.85%;
    padding-top: 52%;
    margin-right: 0;
  }
  .Works-frame--routific {
    margin-right: 14.5%;
  }
  .Works-frame::after {
    bottom: -7.4%;
  }
  .Works-frame--az::after, .Works-frame--plume::after, .Works-frame--ht::after {
    bottom: -12.5%;
  }
}

.Works-img {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.Works-img--az {
  background: url('../img/home-az.png') no-repeat center;
  background-size: 96% auto;
  height: 90%;
}
.Works-img--tl {
  background: url('../img/home-tl.png') no-repeat top center;
  background-size: 75% auto;
  height: 94%;
}
.Works-img--plume {
  background: url('../img/home-plume.png') no-repeat top center;
  background-size: 94% auto;
  background-position: 2rem 0;
  height: 95%
}
.Works-img--routific {
  background: url('../img/home-routific.png') no-repeat top center;
  background-size: cover;
  height: 96%
}
.Works-img--ht {
  top: 0;
  background: url('../img/home-ht.png') no-repeat center;
  background-size: 80% auto;
  height: 100%;
}
@media screen and (min-width: 680px) {
  .Works-img--az {
    background-size: 100% auto;
  }
  .Works-img--tl {
    background-size: 80% auto;
  }
  .Works-img--plume {
    background-size: 120% auto;
  }
}
@media screen and (min-width: 960px) {
  .Works-img--az {
    background-size: 96% auto;
  }
  .Works-img--tl {
    background-size: 77% auto;
    background-position: center;
    height: 100%;
  }
  .Works-img--plume {
    background-size: 92% auto;
    background-position: 4rem 2rem;
    height: 100%
  }
  .Works-img--ht {
    background-size: 75% auto;
    margin-bottom: 1rem;
  }
}

.Works-label {
  display: none;
  }
@media screen and (min-width: 680px) {
  .Works-label {
    display: block;
    position: absolute;
    left: -5.8rem;
    top: 43%;
    margin: auto;
    font-size: 1.6rem;
    letter-spacing: .5rem;
    opacity: .66;
    transform: rotate(-90deg);
  }
}
@media screen and (min-width: 960px) {
  .Works-label {
    top: 45%;
    font-size: 1.8rem;
    left: -6.8rem;
  }
  .Works-label--az, .Works-label--ht, .Works-label--tl {
    left:  auto;
    right: -6.8rem;
    transform: rotate(90deg);
  }
}
@media screen and (min-width: 1320px) {
  .Works-label {
    font-size: 2rem;
    left: -7.6rem;
  }
  .Works-label--az, .Works-label--ht, .Works-label--tl {
    left:  auto;
    right: -7.6rem;
    transform: rotate(90deg);
  }
}

/* --- Info */

.Info-header {
  font-size: 3.8rem;
  line-height: 1.4;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .Info-header {
    margin-top: 3rem;
    font-size: 7rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-header {
    font-size: 9.2rem;
  }
}
@media screen and (min-width: 1320px) {
  .Info-header {
    font-size: 11rem;
  }
}

.Info-headerSub {
  font-size: 1.9rem;
  line-height: 1.4;
  margin: 0 0 7.5rem;
  text-align: center;
  color: #9a5dff;
}
@media screen and (min-width: 680px) {
  .Info-headerSub {
    font-size: 3rem;
    margin-bottom: 14rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-headerSub {
    font-size: 4rem;
    margin-bottom: 20rem;
  }
}

.Info-icon {
  color: #9a5dff;
}

.Info-bolt {
  display: inline-block;
  background: url('../img/icon-bolt.svg') no-repeat top center;
  background-size: contain;
  width: 4%;
  padding-top: 5%;
  margin-bottom: 3.2%;
}
@media screen and (min-width: 960px) {
  .Info-bolt {
    width: 3.8%;
    padding-top: 4.6%;
    margin-bottom: 3%;
  }
}

.Info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15% 12%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.Info-section--vancouver {
  background: url('../img/img-info-1.jpg') no-repeat;
  background-size: cover;
}
.Info-section--sfu {
  background: url('../img/img-info-2.png') no-repeat;
  background-size: cover;
}
.Info-section--az {
  background: url('../img/img-info-3.jpg') no-repeat;
  background-size: cover;
}
@media screen and (min-width: 680px) {
  .Info-section {
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1320px) {
  .Info-section {
    padding: 15% 14%;
  }
}

.Info-badge {
  max-width: 9rem;
  margin: 0 auto 2rem;
}
@media screen and (min-width: 680px) {
  .Info-badge {
    max-width: 14rem;
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-badge {
    margin: 0;
  }
}
@media screen and (min-width: 1320px) {
  .Info-badge {
    max-width: 17rem;
  }
}

.Info-text {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .Info-text {
    width: 66%;
    text-align: left;
    margin-left: 6rem;
  }
}

.Info-title {
  font-size: 2.6rem;
  line-height: 1.2;
  margin: .6rem 0;
}
@media screen and (min-width: 680px) {
  .Info-title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-title {
    font-size: 6.5rem;
  }
}
@media screen and (min-width: 1320px) {
  .Info-title {
    font-size: 7.2rem;
  }
}

.Info-subtitle {
  font-size: 1.9rem;
  line-height: 1.5;
  color: #9a5dff;
}
@media screen and (min-width: 680px) {
  .Info-subtitle {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 960px) {
  .Info-subtitle {
    font-size: 3.2rem;
  }
}

/* --- header */

.Header {
  margin: 0 auto;
}


.Header-title {
  color: #252525;
  font-size: 3.8rem;
  margin-bottom: 0.25rem;
}
@media screen and (min-width: 680px) {
  .Header-title {
    font-size: 5.6rem;
  }
}

.Header-subtitle {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 680px) {
  .Header-subtitle {
    font-size: 3.2rem;
  }
}

.Header-body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #595959;
}

.Header-img {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 73%;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 5rem #d9d9d9;
}
@media screen and (min-width: 680px) {
  .Header-img {
    border-radius: 0;
  }
}
@media screen and (min-width: 960px) {
  .Header-img {
    box-shadow: none;
  }
}

.Header-img-src {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.Header-img-src--tl {
  background: url('../img/tl-header.png') no-repeat center;
  background-size: contain;
  height: 112%;
}

/* --- content */

.Content-title {
  font-size: 3rem;
  line-height: 1.4;
  color: #252525;
}
@media screen and (min-width: 680px) {
  .Content-title {
    font-size: 3.6rem;
  }
}

.Content-body {
  font-size: 1.6rem;
  line-height: 1.45;
  color: #595959;
  max-width: 54rem;
}
@media screen and (min-width: 410px) {
  .Content-body {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 680px) {
  .Content-body {
    font-size: 2.2rem;
    line-height: 1.5;
  }
}

.Content-shade {
  box-shadow: 0 0 5rem #d9d9d9;
  border-radius: 7px;
}

/* --- role */

.Role {
  background: #fff;
  border-radius: 0 0 6px 6px;
  padding: 1.75rem;
  box-shadow: 0 0 5rem #d9d9d9;
}
@media screen and (min-width: 680px) {
  .Role {
    padding: 3rem;
    border-radius: 0;
  }
}
@media screen and (min-width: 960px) {
  .Role {
    box-shadow: none;
  }
}

.Role-col {
  margin: 0;
  width: 100%;
}

.Role-title {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.Role-list {
  display: block;
}

.Role-list li {
  margin-bottom: 1rem
}

/* --- role */

.Video {
  width: 100%;
  position: relative;
  padding-top: 58%;
  margin: 3rem 0;
}

.Video-src {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* --- utilities */

.u-az-color {
  color: #d43772;
}
.u-az-bgcolor {
  background-color: #d43772;
}

.u-tl-color {
  color: #269ed5;
}
.u-tl-bgcolor {
  background-color: #269ed5;
}

.u-plume-color {
  color: #9988f0;
}
.u-plume-bgcolor {
  background-color: #9988f0;
}

.u-routific-color {
  color: #0b9785;
}
.u-routific-bgcolor {
  background-color: #0b9785;
}

.u-ht-color {
  color: #8334b0;
}
.u-ht-bgcolor {
  background-color: #8334b0;
}

.u-space-bottom-clear {
  margin-bottom: 0;
  padding-bottom: 0;
}

.u-space-top {
  margin-top: 3rem;
}
