/* --- headings */

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}
@media screen and (min-width: 680px) {
  h1 {
    font-size: 4rem
  }
}
@media screen and (min-width: 960px) {
  h1 {
    font-size: 5.9rem
  }
}

h4 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .08rem;
}
@media screen and (min-width: 960px) {
  h4 {
    font-size: 2.4rem
  }
}

/* --- misc */

strong {
  font-weight: bold;
}

/* --- fonts */

@font-face {
  font-family: 'R';
  src: url('../fonts/R-Bold.eot');
  src: url('../fonts/R-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/R-Bold.woff') format('woff'),
    url('../fonts/R-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'R';
  src: url('../fonts/R-Regular.eot');
  src: url('../fonts/R-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/R-Regular.woff') format('woff'),
    url('../fonts/R-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'R';
  src: url('../fonts/R-Light.eot');
  src: url('../fonts/R-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/R-Light.woff') format('woff'),
    url('../fonts/R-Light.ttf') format('truetype');
  font-weight: 300;
}

